name: CI/CD

on:
  push:
    branches: [ "main", "ektoras" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Download deps
        run: npm i

      - name: Run tests
        run: npm run test

  cd:
    runs-on: ubuntu-latest
    needs: ci
    # if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy to Railway
        run: railway up --service bc284504-f069-4136-b206-05c671bd3b90
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
